{%include 'admin_header.html'%}

<h1 style="margin-top: 100px;">View Users</h1>
<table class="table" width="600px">
    <tr>
        <th>SL.NO</th>
        <th>Pic</th>
        <th>Name</th>
        <th>Place</th>
        <th>Phone</th>
        <TH>Email</TH>
    </tr>
    {% for row in data['res'] %}
    <tr>
        <td>{{loop.index}}</td>
        <td><img src="/{{row['pic']}}" width="100" height="100" alt=""></td>
        
        <td>{{row['fname']}}{{row['lname']}}</td>
        <td>{{row['place']}}</td>
        <td>{{row['phone']}}</td>
        <td>{{row['email']}}</td>
    </tr>
    {% endfor%}
</table>





</center>



{%include 'footer.html'%}