{%include 'public_header.html'%}



<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <center>
	<h1> LOGIN </h1>
	<form method="post">
		<table class="table" style="width:500px">
			<tr>
				<th>USERNAME</th>
				<td> <input type=" text" id="username" pattern="[A-Za-z0-9]+"  name="uname" class="form-control" required=""></td>
			</tr>
			<tr>
				<th> PASSWORD</th>
				<td><input type="password" name="password" class="form-control" required="" required="" id="password" ></td>
			</tr>
			<tr>
				<td  colspan="2" align ="center"><input type ="submit" name="submit" value="LOGIN"class="btn btn-danger"> </td>
			</tr>
		</table>
			
	</form>
</center>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/static/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

 <style>
 	td,th,tr{
 		border: none!important;
 	}
 </style>
{%include 'footer.html'%}